<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.jhta.planit.room.mybatis.RoomMapper">
	<insert id="insert"
		parameterType="com.jhta.planit.room.vo.RoomVo">
		insert into MSGTABLE
		values(MsgTable_SEQ.nextval,#{msgContent},#{sendMemId},#{receiveMemId},sysdate,0,1,1)
	</insert>
</mapper>
