<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.jhta.planit.reservationReview.mybatis.ReservationReviewMapper">
  
  	<insert id="insert" parameterType="hashmap">
  		insert into ReservationReview values(rrew.nextval,#{mem_id},#{rsvn_num},#{resReview_title},#{resReview_content},sysdate,#{resReview_star},0)
  	</insert>
   
   <select id="getResReview_num" resultType="int" >
  		select  max(resReview_num) from ReservationReview
  	</select>
   
  
  	<sql id="search">
  		<if test="field!=null and field!=''">
  			and ${field} like '%'||#{keyword}||'%'
  		</if>
  	</sql>
  	
  	
  	<select id="count" resultType="int" parameterType="hashmap">
  		select NVL(count(*),0) cnt from ReservationReview
  		<include refid="search"/>	
  	</select>
   
    	
  	<select id="next" parameterType="int" resultType="com.jhta.planit.reservationReview.vo.ReservationReviewVo">
  	select * from
  	(
  		select * from ReservationReview
  		<![CDATA[where resReview_num<#{resReview_num}]]>
  		order by resReview_num desc
  	)
  		where rownum=1
  	</select>
 
  	<select id="prev" parameterType="int" resultType="com.jhta.planit.reservationReview.vo.ReservationReviewVo">
  	select * from
  	(
  		select * from ReservationReview
  		<![CDATA[where resReview_num>#{review_num}]]>
  		order by resReview_num asc
  	)
  		where rownum=1
  	</select>
   
   
   <select id="detail" parameterType="int" resultType="com.jhta.planit.reservationReview.vo.ReservationReviewVo">
  		select * from ReservationReview where resReview_num=#{resReview_num}
  	</select>
   
	
	
	<update id="updateResReviewChk" parameterType="int">
		update ReservationReview set
		resReview_chk=1 where resReview_num=#{resReview_num}
	</update>
	
	
 	<update id="resReviewUpdate" parameterType="com.jhta.planit.reservationReview.vo.ReservationReviewVo">
 		update ReservationReview set
 		 resReview_title=#{resReview_title},resReview_content=#{resReview_content}
 		 where resReview_num=#{resReview_num}
 	</update>
 	
 	
 	<select id="reviewCnt" parameterType="int" resultType="int">
 		select NVL(count(*), 0) from reservationReview where rsvn_num = #{rsvn_num}
 	</select>
 	
 	<select id="list"  resultType="com.jhta.planit.reservationReview.vo.ReservationReviewVo"  parameterType="int">
 	select r.resReview_num,r.resReview_title, r.resReview_content , r.resReview_data, r.resReview_star,r.mem_id
 from reservationReview r , rsvn s, room o , accom a
 where s.rsvn_num =r.rsvn_num and o.room_num=s.room_num and o.accom_num= a.accom_num
 and r.resreview_chk!=1 and o.accom_num=#{accom_num} 
 order by r.resReview_data desc
 	</select>
   </mapper>