<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.jhta.planit.accom.mybatis.AccomMapper">
	<insert id="acqInsert" parameterType="hashmap">
		insert into accomQna 
		values(accomQna_num_seq.nextval,#{mem_id},#{accom_num},#{accomqna_title},#{accomqna_content},sysdate) 
	</insert>
	<insert id="insert"
		parameterType="com.jhta.planit.accom.vo.AccomVo">
		insert into accom
		values(accom_SEQ.nextval,#{sell_num},#{accom_name},#{accom_addr},#{accom_comm},#{accom_country},#{accom_city},#{accommImg_orgImg},#{accommImg_saveImg},0)
	</insert>
	<sql id="search">
		where accomChk=0
		<if test="field!=null and field!=''">
		    and ${field} like '%'||#{keyword}||'%'
		</if>
	</sql>
	<!-- 전체글의갯수 -->
	<select id="count" resultType="int" parameterType="hashmap"> 
		select NVL(count(*),0) cnt from accom
		<include refid="search"/>
	</select>
	<!-- 페이지에 해당하는 글목록 -->
	<select id="list" parameterType="hashmap" resultType="com.jhta.planit.accom.vo.AccomVo">
		select * from(
		    select aa.*,rownum rnum from(
		    	select * from accom 
		    	<include refid="search"/>
		    	and sell_num=#{sell_num}
		    	order by accom_num desc
		    )aa 
		)
		<![CDATA[ where rnum >=#{startRow} and rnum <= #{endRow} ]]>
	</select>
	<select id="list1" parameterType="hashmap" resultType="com.jhta.planit.accom.vo.AccomVo">
		select * from(
		    select aa.*,rownum rnum from(
		    	select * from accom 
		    	<include refid="search"/>
		    	order by accom_num desc
		    )aa 
		)
		<![CDATA[ where rnum >=#{startRow} and rnum <= #{endRow} ]]>
	</select>
	<!-- 다음글 -->
	<select id="next" parameterType="int" resultType="com.jhta.planit.accom.vo.AccomVo">
		select * from
		(
			select * from accom
			where accom_num>#{accom_num} and accomChk=0
			order by accom_num asc
		)
		where rownum=1
	</select>
	<!-- 이전글 -->
	<select id="prev" parameterType="int" resultType="com.jhta.planit.accom.vo.AccomVo">
		select * from
		(
			select * from accom
			<![CDATA[ where accom_num<#{accom_num} and accomChk=0]]>
			order by accom_num desc
		)
		where rownum=1
	</select>
	<update id="updateAccomCheck" parameterType="int">
		update accom set
		accomChk=1 where accom_num=#{accom_num}
	</update>
	<select id="detail" parameterType="int" resultType="com.jhta.planit.accom.vo.AccomVo">
		select * from accom where accom_num = #{accom_num} and accomChk = 0
	</select>
	<update id="update" parameterType="com.jhta.planit.accom.vo.AccomVo">
		update accom set
		accom_name=#{accom_name},accom_comm=#{accom_comm}
		<if test="accommImg_orgImg!=null">
			,accommImg_orgImg=#{accommImg_orgImg},
			accommImg_saveImg=#{accommImg_saveImg}
		</if>
		where accom_num=#{accom_num}
	</update>
</mapper>
