<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.planit.mybatis.AnalyticsMapper">
	<select id="getPlanedCountry" resultType="hashmap">
		select plandetail_country, count(plandetail_country) as cnt from plandetail group by plandetail_country
	</select>
	<select id="getBuddyCountry" resultType="hashmap">
		select buddy_country, count(buddy_country) as cnt from buddy_country group by buddy_country
	</select>
	<select id="getMembersGender" resultType="hashmap">
		select mem_gender, count(mem_gender) as cnt from members group by mem_gender
	</select>
	<select id="getMembersBirthYear" resultType="hashmap">
		select mem_birthYear, count(mem_birthYear) as cnt from members group by mem_birthYear order by mem_birthYear
	</select>
	<select id="getAllExistRoomsCount" resultType="double">
		 select NVL(count(*),0) from (select distinct r.*, s.mem_id
		from seller s, accom a, room r, ( select NVL(z.room_num, -1) room_num from
		                (
		                select rs.room_num room_num
		                from rsvn rs, rsvnPay rp
		                where rs.rsvn_num = rp.rsvn_num
		                    and rp.rsvnPay_stat = 0
		                    and rs.rsvn_checkin between to_date(sysdate, 'yyyy-mm-dd') and (to_date(sysdate, 'yyyy-mm-dd') - 1)
		                    or rs.rsvn_checkout - 1 between to_date(sysdate, 'yyyy-mm-dd') and (to_date(sysdate, 'yyyy-mm-dd') - 1)
		                )z right outer join dual on 1 = 1
		            )aa
                    where s.sell_num= a.sell_num 
            and a.accom_num= r.accom_num
            and r.roomChk = 0
		    and r.room_capa >= 1
		    and r.room_num not in aa.room_num
		    and r.room_num = 1)
	</select>
	<select id="getExistRoomsCount" parameterType="String" resultType="double">
		 select NVL(count(*),0) from (select distinct r.*, s.mem_id
		from seller s, accom a, room r, ( select NVL(z.room_num, -1) room_num from
		                (
		                select rs.room_num room_num
		                from rsvn rs, rsvnPay rp
		                where rs.rsvn_num = rp.rsvn_num
		                    and rp.rsvnPay_stat = 0
		                    and rs.rsvn_checkin between to_date(sysdate, 'yyyy-mm-dd') and (to_date(sysdate, 'yyyy-mm-dd') - 1)
		                    or rs.rsvn_checkout - 1 between to_date(sysdate, 'yyyy-mm-dd') and (to_date(sysdate, 'yyyy-mm-dd') - 1)
		                )z right outer join dual on 1 = 1
		            )aa
                    where s.sell_num= a.sell_num 
            and a.accom_num= r.accom_num
            and r.roomChk = 0
		    and r.room_capa >= 1
		    and r.room_num not in aa.room_num
		    and r.room_num = 1
		    and mem_id=#{mem_id}
		    )
	</select>
	<select id="getAllRoomsCount" resultType="double">
		select NVL(count(*),0) from room
	</select>
	<select id="getRoomsCount" parameterType="String" resultType="double">
		select NVL(count(*),0) from room r, seller s, accom a where a.sell_num=s.sell_num and a.accom_num=r.accom_num  and s.mem_id=#{mem_id}
	</select>
	<select id="todaySellProfit" resultType="int">
		select NVL(sum(rsvnPay_total), 0) from rsvnPay where to_char(rsvnPay_date, 'yyyy-mm-dd')=to_char(sysdate, 'yyyy-mm-dd') and rsvnPay_stat=0
	</select>
	<select id="getDaySellProfit" parameterType="String" resultType="int">
		select NVL(sum(rsvnPay_total), 0) from rsvnPay where to_char(rsvnPay_date, 'yyyy-mm-dd')=#{rsvnPay_date} and rsvnPay_stat=0
	</select>
	<select id="todaySellerSellProfit" parameterType="String" resultType="int">
		select NVL(sum(p.rsvnPay_total), 0)
    	from rsvn r, rsvnpay p, room rm, accom a, seller s 
        where r.rsvn_num=p.rsvn_num
        and r.room_num=rm.room_num
        and rm.accom_num=a.accom_num
        and a.sell_num=s.sell_num
        and to_char(rsvnPay_date, 'yyyy-mm-dd')=to_char(sysdate, 'yyyy-mm-dd') and rsvnPay_stat=0
        and s.mem_id=#{mem_id}
	</select>
	<select id="getDaySellerSellProfit" parameterType="hashmap" resultType="int">
		select NVL(sum(p.rsvnPay_total), 0)
    	from rsvn r, rsvnpay p, room rm, accom a, seller s 
        where r.rsvn_num=p.rsvn_num
        and r.room_num=rm.room_num
        and rm.accom_num=a.accom_num
        and a.sell_num=s.sell_num
        and to_char(rsvnPay_date, 'yyyy-mm-dd')=#{rsvnPay_date} and rsvnPay_stat=0
        and s.mem_id=#{mem_id}
	</select>
	<select id="getRecent5Sell" resultType="com.jhta.planit.reservation.vo.RsvnPayVo">
		select * from (select aa.*, rownum rnum from(select * from rsvnPay order by rsvnpay_date desc)aa) where <![CDATA[rnum<6]]>
	</select>
	<select id="getSellerRecent5Sell" parameterType="String" resultType="hashmap">
		select * from 
	    (
	     select aa.*, rownum rnum from
	        (
		        select P.RSVNPAY_ID, R.mem_id, p.rsvnpay_total, p.rsvnpay_stat, to_char(P.RSVNPAY_DATE, 'yyyy-mm-dd') RSVNPAY_DATE from rsvnPay p, rsvn r, room rm, accom a, seller s
		        where p.rsvn_num=r.rsvn_num
		        and r.room_num=rm.room_num
		        and rm.accom_num=a.accom_num
		        and a.sell_num=s.sell_num
		        and s.mem_id=#{mem_id}
		        order by rsvnpay_date desc
	        )aa
	    )
		where <![CDATA[rnum<6]]>
	</select>
	<select id="getRsvnInfo" parameterType="int" resultType="com.jhta.planit.reservation.vo.RsvnVo">
		select * from rsvn where rsvn_num=#{rsvn_num}
	</select>
	<select id="getDayAdHit" parameterType="String" resultType="int">
		select NVL(sum(adInfo_hit), 0) from adInfo where adInfo_date=#{adInfo_date}
	</select>
	<select id="getDayAdClick" parameterType="String" resultType="int">
		select NVL(sum(adInfo_click), 0) from adInfo where adInfo_date=#{adInfo_date}
	</select>
	
</mapper>
