<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 수정해서 사용!! -->
<configuration>
<!--
  	<typeAliases>
  		<typeAlias type="com.jhta.spring21.vo.CommentsVo" alias="comments"/>
  		<typeAlias type="com.jhta.spring21.vo.MovieVo" alias = "movie"/>
  	</typeAliases>
-->
  <mappers>
  	<mapper resource="com/jhta/planit/mybatis/AdMapper.xml"/>
  	<mapper resource="com/jhta/planit/mybatis/AdInfoMapper.xml"/>
  	<mapper resource="com/jhta/planit/mybatis/AdImageMapper.xml"/>
  	<mapper resource="com/jhta/planit/user/mybatis/membersMapper.xml"/>
  	<mapper resource="com/jhta/planit/msgtable/mybatis/MsgTableMapper.xml"/>
  	<mapper resource="com/jhta/planit/buddy/mybatis/buddyMapper.xml"/>
  	<mapper resource="com/jhta/planit/qna/mybatis/AcommQnaMapper.xml"/>
  	<mapper resource="com/jhta/planit/qna/mybatis/QnaMapper.xml"/>
  </mappers>
</configuration>