@charset "UTF-8";

#planner {
	width: 100%;
	height: 100%;
}

#leftBox {
	width: 20%;
	height: 100%;
	display: inline-block;
	float: left;
}

#leftBox div{
	width: 100%;
	display: inline-block;
	float: left;
}

#map {
	display: inline-block;
	float: left;
	width: 80%;
	height: 100%;
}
