@charset "UTF-8";

#planner {
	width: 100%;
	height: 100%;
}

.addrBox {
	margin: 10px 0 0 10px;
}

#leftBox {
	width: 20%;
	height: 100%;
	display: inline-block;
	float: left;
}

#leftBox #startDate {
	
	width: 60%;
}

#leftBox #route {
	width: 100%;
	height: 90%;
	float: left;
	overflow: auto;
	border: 2px solid gray;
}

#map {
	display: inline-block;
	float: left;
	width: 80%;
	height: 100%;
}