@charset "UTF-8";

.box {
	width: 100%;
	overflow: auto;
}

#planTop {
	width: 100%;
	height: 150px;
	text-align: center;
}

.userPlan {
	display: inline-block;
	float: left;
	margin: 5px;
	text-align: center;
}

.userPlan img {
	width: 300px;
	height: 300px;
}

.userPlan .planId {
	font-size: 10px;
}

#planPage {
	clear: both;
}

#planPage a{
	text-decoration: none;
}