@charset "UTF-8";

.modal {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

#planStays {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	margin: 10px 10px 0 0;
	border: 1px solid #eee;
	background-color: white;
	text-align: center;
	font-size: 15px;
}

#planStays span {
	font-size: 20px;
	font-weight: bold;
}

#planStays div {
	margin-top: 20px;
}