<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.jhta.planit.roomImage.mybatis.RoomImageMapper">
	<insert id="insert"
		parameterType="com.jhta.planit.roomImage.vo.RoomImageVo">
		insert into roomImage
		values(roomImage_seq.nextval,#{room_num},#{roomImg_orgImg},#{roomImg_saveImg},0)
	</insert>
	
	<select id="list" parameterType="int" resultType="com.jhta.planit.roomImage.vo.RoomImageVo">
  		select * from roomImage where room_num=#{room_num} and  roomImageChk=0
  	</select>
	<update id="updateImgCheck" parameterType="int">
		update roomImage set
		roomImageChk=1 where roomImg_num=#{roomImg_num}
	</update>
	<update id="update" parameterType="com.jhta.planit.roomImage.vo.RoomImageVo">
		update roomImage set
		<if test="roomImg_orgImg!=null">
			roomImg_orgImg=#{roomImg_orgImg},
			roomImg_saveImg=#{roomImg_saveImg}
		</if>
		where roomImg_num=#{roomImg_num}
	</update>
</mapper>
