<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.planit.user.mybatis.membersMapper">
	<insert id="membersJoin" parameterType="com.jhta.planit.user.vo.MembersVo">
		insert into members
		values(#{mem_id},#{mem_pwd},#{mem_nickname},#{mem_email},#{mem_gender},#{mem_birthyear},-1,null)
	</insert>
	<select id="loginbcry" resultType="com.jhta.planit.user.vo.MembersVo" parameterType="hashmap">
		select * from members where mem_id=#{mem_id}
	</select>
	<select id="idcheck" resultType="com.jhta.planit.user.vo.MembersVo" parameterType="String">
		select * from members where mem_id=#{mem_id}
	</select>
	<select id="emailcheck" resultType="com.jhta.planit.user.vo.MembersVo" parameterType="String">
		select * from members where mem_email=#{mem_email}
	</select>
	<select id="nickcheck" resultType="com.jhta.planit.user.vo.MembersVo" parameterType="String">
		select * from members where mem_nickname=#{mem_nickname}
	</select>
	<select id="getid" resultType="String" parameterType="String">
		select mem_id from members where mem_email=#{mem_email }
	</select>
	<insert id="createAuthKey" parameterType="hashmap">
		insert into userAuth values(#{mem_email}, #{authKey}, #{mem_id})
	</insert>
	<update id="userAuth" parameterType="hashmap">
		update members set mem_stat = 2 where mem_id = (select mem_id from userAuth where mem_email = #{mem_email} and authKey = #{authKey})
	</update>
	<select id="userAuthChk" parameterType="String" resultType="Integer">
		select mem_stat from members where mem_email=#{mem_email}
	</select>
	<delete id="delAuth" parameterType="String">
		delete from userAuth where mem_email=#{mem_email}
	</delete>
	<select id="usercheck" parameterType="string" resultType="com.jhta.planit.user.vo.MembersVo">
		select * from members where mem_id=#{mem_id}
	</select>
	<update id="pwdChange" parameterType="hashmap">
		update members set mem_pwd=#{mem_pwd} where mem_id=#{mem_id}
	</update>
	<update id="withdrawal" parameterType="string">
		update members set mem_stat=-3 and mem_pwd='0' and mem_nickname=#{mem_id} and mem_email=#{mem_id}
		where mem_num=mem_num; 
	</update>
	<update id="nickupdate" parameterType="hashmap">
		update members set mem_nickname=#{mem_nickname}
		where mem_id=#{mem_id}
	</update>
</mapper>