<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.planit.user.mybatis.mypageMapper">
	<select id="profileInfo" resultType="hashmap" parameterType="hashmap">
		select m.mem_nickname, m.mem_stat, mi.img_saveImg, p.profile_open, p.profile_comm, 
			(select nvl(count(*),0) from follow_list f where f.mem_id=#{mem_id}) follow, 
			(select nvl(count(*),0) from follow_list f where f.profile_no=( select profile_no from profile where mem_id=#{mem_id})) follower, 
			nvl((select follow_grade from follow_list where mem_id=#{session_mem_id} and profile_no=( select profile_no from profile where mem_id=#{mem_id})),0) follow_grade,
			(select sum(write.cnt) from (
				select nvl(count(*),0) cnt from review where mem_id=#{mem_id}
				union all 
				select nvl(count(*),0) cnt from reservationReview where mem_id=#{mem_id}
				union all
				select nvl(count(*),0) cnt from qna where mem_id=#{mem_id}
				union all
				select nvl(count(*),0) cnt from accomQna where mem_id='idest01'
				)write
			) write_cnt 
		from members m,profile p, memimage mi 
		where m.mem_id=p.mem_id and m.mem_id=mi.mem_id and m.mem_id=#{mem_id}
	</select>
	<insert id="joinProfileImg" parameterType="string">
		insert into memimage values(memimage_seq.nextval, #{mem_id},'/resources/profileImg/BasicPhoto.png','/resources/profileImg/BasicPhoto.png')
	</insert>
	<insert id="joinProfileInfo" parameterType="com.jhta.planit.user.vo.MembersVo">
		insert into profile values(profile_seq.nextval,#{mem_id},4,#{mem_nickname}||'님의 프로필입니다.')
	</insert>
	<insert id="follow" parameterType="hashmap">
		insert into follow_list values(follow_seq.nextval,#{session_mem_id},(select profile_no from profile where mem_id=#{mem_id}),2)
	</insert>
	<delete id="unfollow" parameterType="hashmap">
		delete from follow_list where mem_id=#{session_mem_id} and profile_no=(select profile_no from profile where mem_id=#{mem_id})
	</delete>
	<select id="followedcnt" parameterType="string" resultType="int">
		select nvl(count(*),0) from follow_list where profile_no=( select profile_no from profile where mem_id=#{mem_id})
	</select>
	<select id="followedlist" resultType="hashmap" parameterType="string">
		select m.mem_nickname,m.mem_id,mi.img_saveImg from follow_list f, members m, memimage mi
		where m.mem_id=f.mem_id and m.mem_id=mi.mem_id and f.profile_no=(
			select profile_no from profile where mem_id=#{mem_id})
	</select>
	<select id="followlist" resultType="hashmap" parameterType="string">
		select m.mem_nickname,m.mem_id,mi.img_saveImg from members m, memimage mi
		where m.mem_id=mi.mem_id and m.mem_id in (
			select mem_id from profile where profile_no in (
				select profile_no from follow_list where mem_id=#{mem_id}))
	</select>
	<select id="postslist" resultType="hashmap" parameterType="string">
		select m.mem_nickname,mi.img_saveImg from follow_list f, members m, memimage mi
		where m.mem_id=f.mem_id and m.mem_id=mi.mem_id and f.profile_no=(select profile_no from follow_list where mem_id=#{mem_id})
	</select>
	<select id="travel" resultType="hashmap" parameterType="string">
		select m.mem_nickname,mi.img_saveImg from follow_list f, members m, memimage mi
		where m.mem_id=f.mem_id and m.mem_id=mi.mem_id and f.profile_no=(select profile_no from follow_list where mem_id=#{mem_id})
	</select>
	<select id="comments" resultType="hashmap" parameterType="string">
		select m.mem_nickname,mi.img_saveImg from follow_list f, members m, memimage mi
		where m.mem_id=f.mem_id and m.mem_id=mi.mem_id and f.profile_no=(select profile_no from follow_list where mem_id=#{mem_id})
	</select>
	<select id="book" resultType="hashmap" parameterType="string">
		select m.mem_nickname,mi.img_saveImg from follow_list f, members m, memimage mi
		where m.mem_id=f.mem_id and m.mem_id=mi.mem_id and f.profile_no=(select profile_no from follow_list where mem_id=#{mem_id})
	</select>
	<select id="editprofileinfo" resultType="hashmap" parameterType="string">
		select p.mem_id,p.profile_open,p.profile_comm,i.img_num,i.img_saveimg,m.mem_nickname 
		from profile p,memimage i,members m 
		where m.mem_id=p.mem_id and m.mem_id=i.mem_id and p.mem_id=#{mem_id}
	</select>
	<select id="savImgInfo" resultType="com.jhta.planit.user.vo.MemImageVo" parameterType="int">
		select * from memimage where img_num=#{img_num}
	</select>
	<update id="editImg" parameterType="com.jhta.planit.user.vo.MemImageVo">
		update memimage set IMG_ORGIMG=#{img_orgimg}, IMG_SAVEIMG=#{img_saveimg}
		where mem_id=#{mem_id}
	</update>
	<update id="editprofile" parameterType="com.jhta.planit.user.vo.ProfileVo">
		update profile set PROFILE_OPEN=#{profile_open}, PROFILE_COMM=#{profile_comm}
		where mem_id=#{mem_id}
	</update>
	 <delete id="withdrawal1" parameterType="string">
	 	delete from follow_list 
		where mem_id=#{mem_id} or profile_no=(
		select profile_no from profile where mem_id=#{mem_id})
	</delete>
	 <update id="withdrawal2" parameterType="string">
		update memimage set IMG_ORGIMG='/resources/profileImg/BasicPhoto.png', IMG_SAVEIMG='/resources/profileImg/BasicPhoto.png' 
		where mem_id=#{mem_id}
	</update>
	 <update id="withdrawal3" parameterType="string">
		update profile set profile_comm='탈퇴한 회원입니다', profile_open=4 where mem_id=#{mem_id}
	</update>
</mapper>