<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.jhta.planit.msgtable.mybatis.MsgTableMapper">
	<insert id="insert"
		parameterType="com.jhta.planit.msgtable.vo.MsgTableVo">
		insert into MSGTABLE
		values(MsgTable_SEQ.nextval,#{msgContent},#{sendMemId},#{receiveMemId},sysdate,0,1,1)
	</insert>
	<sql id="search">
		<where>
			<if test="type=='receiveMemId'">
				 receiveMemId=#{mem_id} and msgDeletee!=#{mem_id}
			</if>
			<if test="type=='sendMemId'">
				 sendMemId=#{mem_id} and msgDelete!=#{mem_id}
			</if>
			<if test="field!=null and field!=''">
				and ${field} like '%'||#{keyword}||'%'
			</if>
		</where>
	</sql>
	<select id="count" resultType="int" parameterType="hashmap">
		select NVL(count(*),0) cnt from MSGTABLE
		<include refid="search" />
	</select>
	<select id="listAll"
		resultType="com.jhta.planit.msgtable.vo.MsgTableVo"
		parameterType="hashmap">
		select * from(
		select aa.*,rownum rnum from(
		select * from MSGTABLE
		<include refid="search" />
		order by msgWdate desc
		)aa
		)
		<![CDATA[ where rnum >=#{startRow} and rnum <= #{endRow} ]]>
	</select>
	<select id="next" parameterType="int"
		resultType="com.jhta.planit.msgtable.vo.MsgTableVo">
		select * from
		(
		select * from MSGTABLE
		where msgNum>#{msgNum}
		order by msgNum asc
		)
		where rownum=1
	</select>
	<select id="prev" parameterType="int"
		resultType="com.jhta.planit.msgtable.vo.MsgTableVo">
		select * from
		(
		select * from MSGTABLE
			<![CDATA[ where msgNum<#{msgNum} ]]>
		order by msgNum desc
		)
		where rownum=1
	</select>
	<select id="find"
		resultType="com.jhta.planit.msgtable.vo.MsgTableVo"
		parameterType="int">
		select * from MSGTABLE where msgNum=#{msgNum}
	</select>
	<update id="update1"
		parameterType="com.jhta.planit.msgtable.vo.MsgTableVo">
		update MSGTABLE set msgDelete=#{msgDelete} where
		msgNum=#{msgNum}
	</update>
	<update id="update2"
		parameterType="com.jhta.planit.msgtable.vo.MsgTableVo">
		update MSGTABLE set msgDeletee=#{msgDeletee} where
		msgNum=#{msgNum}
	</update>
	<update id="updateMsgCheck" parameterType="int">
		update MSGTABLE set
		MSGCHECK=1 where msgNum=#{msgNum}
	</update>
	<select id="countReceiveList" resultType="int" parameterType="hashmap">
		select NVL(count(*),0) cnt  from MSGTABLE where receiveMemId=#{mem_id} and msgcheck=0 and msgDeletee ='1'
	</select>
</mapper>
