@charset "UTF-8";

#rsvnMenu ul li {
	text-decoration: none;
	display: inline-block;
	float: left;
	margin-left: 20px;
}

#accomSearch{
	clear: both;
}

#rsvnCnt{
	width: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.accomDiv{
	width: 200px;
	height: 300px;
	display: inline-block;
	float: left;
	border: 1px solid gray;
	margin-right: 20px;
	margin-bottom: 20px;
}
.accomDiv img{
	width: 200px;
	height: 150px;
}
#accomPage{
	clear: both;
}