<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.planit.reservation.mybatis.RsvnMapper">
	<sql id="rsvnSearch">
       	<if test="keyword != null and keyword != ''">
          	 and a.accom_name like '%'||#{keyword}||'%' or a.accom_city like '%'||#{keyword}||'%'
           </if>
           and r.room_num in
           (
               select r.room_num
               from room r
               <if test="checkin != null and checkin != '' and checkout != null and checkout != ''">
               , ( select NVL(z.room_num, -1) room_num from
                               (
                               select rs.room_num room_num
                               from rsvn rs, rsvnPay rp
                               where rs.rsvn_num = rp.rsvn_num
                                   and rp.rsvnPay_stat = 0
                                   and rs.rsvn_checkin between to_date(#{checkin}, 'yyyy-mm-dd') and to_date(#{checkout}, 'yyyy-mm-dd')
                                   or rs.rsvn_checkout - 1 between to_date(#{checkin}, 'yyyy-mm-dd') and to_date(#{checkout}, 'yyyy-mm-dd')
                               )z right outer join dual on 1 = 1
                           )aa 
               </if>
               where r.roomChk = 0
               <if test="keyword != null and keyword != ''">
               	and r.room_capa >= #{cnt}
               </if>
               <if test="checkin != null and checkin != '' and checkout != null and checkout != ''">
               		and r.room_num not in aa.room_num
             	</if>
	</sql>
	<select id="list" parameterType="hashmap" resultType="com.jhta.planit.reservation.vo.RsvnAccomVo">
		select * from
		(
		    select bb.accom_num accom_num, bb.sell_num sell_num, bb.accom_name accom_name, bb.accom_addr accom_addr, 
		        bb.accom_comm accom_comm, bb.accom_country accom_country, bb.accom_city accom_city, 
		        bb.accommImg_orgImg accommImg_orgImg, bb.accommImg_saveImg accommImg_saveImg, bb.accomchk accomchk,
		        rr.room_price room_price, rownum rnum 
		    from (select accom_num, NVL(min(room_price), 0) room_price
	                from room
	                where roomchk = 0
	                group by accom_num) rr,
			    (
		        select distinct a.*
		        from accom a, room r
		        where a.accomchk = 0
		        <include refid="rsvnSearch"/>
		        	and a.accom_num = r.accom_num
		            )
		        order by a.accom_num desc
		    )bb
		     where bb.accom_num = rr.accom_num
		)<![CDATA[ where rnum >= #{startRow} and rnum <= #{endRow} ]]>
	</select>
	<select id="count" parameterType="hashmap" resultType="int">
		select NVL(count(*), 0) from
		(
		        select distinct a.*
		        from accom a, room r
		        where a.accomchk = 0
		        	and a.accom_num = r.accom_num
		        	 <include refid="rsvnSearch"/>
		            )
		    )
	</select>
</mapper>
