<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.planit.reservation.mybatis.RsvnMapper">
	<insert id="insert" parameterType="hashmap">
		insert into rsvn values(#{num}, #{mem_id}, #{room_num}, #{checkin}, #{checkout}, #{cnt}, #{name}, #{email}, #{phone})
	</insert>
	<select id="max" resultType="int">
		select NVL(max(rsvn_num), 0) from rsvn
	</select>
	<delete id="delete" parameterType="int">
		delete from rsvn where rsvn_num = #{num}
	</delete>
	<select id="detail" parameterType="int" resultType="com.jhta.planit.reservation.vo.RsvnVo">
		select * from rsvn where rsvn_num = #{num}
	</select>
	
	<select id="myList" parameterType="hashmap" resultType="com.jhta.planit.reservation.vo.MyRsvnVo">
		select * from
		(
		    select aa.*, rownum rnum from
		    (
		        select r.rsvn_num rsvn_num, r.rsvn_checkin rsvn_checkin, r.rsvn_checkout rsvn_checkout, r.rsvn_cnt rsvn_cnt,
		            p.rsvnPay_id rsvnPay_id, p.rsvnPay_stat rsvnPay_stat, p.rsvnPay_date rsvnPay_date,
		            a.accom_num accom_num, a.accom_name accom_name, 
		            ro.room_num room_num, ro.room_type room_type, ro.room_capa room_capa
		        from rsvn r, rsvnPay p, accom a, room ro
		        where r.rsvn_num = p.rsvn_num and r.room_num = ro.room_num and a.accom_num = ro.accom_num
		            and r.mem_id = #{mem_id}
		        order by r.rsvn_num desc
		    )aa
		)where <![CDATA[ rnum >= #{startRow} and rnum <= #{endRow} ]]>
	</select>
	<select id="myCount" parameterType="String" resultType="int">
		select NVL(count(*), 0) from 
		(
		    select r.rsvn_num rsvn_num, r.rsvn_checkin rsvn_checkin, r.rsvn_checkout rsvn_checkout, r.rsvn_cnt rsvn_cnt,
		        p.rsvnPay_id rsvnPay_id, p.rsvnPay_stat rsvnPay_stat, p.rsvnPay_date rsvnPay_date,
		        a.accom_num accom_num, a.accom_name accom_name, 
		        ro.room_num room_num, ro.room_type room_type, ro.room_capa room_capa
		    from rsvn r, rsvnPay p, accom a, room ro
		    where r.rsvn_num = p.rsvn_num and r.room_num = ro.room_num and a.accom_num = ro.accom_num
		        and r.mem_id = #{mem_id}
		)
	</select>

	<sql id="rsvnRoomSearch">
       select ro.* from room ro
       where ro.room_num in
          (
              select NVL(y.room_num, -1) room_num from
              (
                  select r.room_num
                  from room r
                  <if test="checkin != null and checkin != '' and checkout != null and checkout != ''">
                  , ( select NVL(z.room_num, -1) room_num from
                                  (
                                  select rs.room_num room_num
                                  from rsvn rs, rsvnPay rp
                                  where rs.rsvn_num = rp.rsvn_num
                                      and rp.rsvnPay_stat = 0
                                      and rs.rsvn_checkin between to_date(#{checkin}, 'yyyy-mm-dd') and (to_date(#{checkout}, 'yyyy-mm-dd') - 1)
                                      or rs.rsvn_checkout - 1 between to_date(#{checkin}, 'yyyy-mm-dd') and (to_date(#{checkout}, 'yyyy-mm-dd') - 1)
                                  )z right outer join dual on 1 = 1
                              )aa 
                  </if>
                  where r.roomChk = 0
                  	<if test="cnt != null and cnt != ''">
                      and r.room_capa >= #{cnt}
                      </if>
                      <if test="checkin != null and checkin != '' and checkout != null and checkout != ''">
                      and r.room_num not in aa.room_num 
                      </if>
              )y right outer join dual on 1 = 1
          )       
	</sql>
	<select id="accomList" parameterType="hashmap" resultType="com.jhta.planit.reservation.vo.RsvnAccomVo">
		select * from
		(
		    select bb.accom_num accom_num, bb.sell_num sell_num, bb.accom_name accom_name, bb.accom_addr accom_addr, 
		        bb.accom_comm accom_comm, bb.accom_country accom_country, bb.accom_city accom_city, 
		        bb.accommImg_orgImg accommImg_orgImg, bb.accommImg_saveImg accommImg_saveImg, bb.accomchk accomchk,
		        rr.room_price room_price, rownum rnum 
		    from (select accom_num, NVL(min(room_price), 0) room_price
		                from room
		                where roomchk = 0
		                group by accom_num) rr,
		         (
			         select distinct a.*
			        from accom a, 
			        (
		            <include refid="rsvnRoomSearch"/>
		             )x
			        where a.accomchk = 0
			            and a.accom_num = x.accom_num
			            <if test="keyword != null and keyword != ''">
			            and a.accom_name like '%'||#{keyword}||'%' or a.accom_city like '%'||#{keyword}||'%'
			            </if>
		            order by a.accom_num desc
		        )bb
		        where bb.accom_num = rr.accom_num
			)<![CDATA[ where rnum >= #{startRow} and rnum <= #{endRow} ]]>
	</select>
	<select id="accomCount" parameterType="hashmap" resultType="int">
		select NVL(count(*), 0) from
		(
		   select distinct a.*
	        from accom a, 
	        (
            <include refid="rsvnRoomSearch"/>
             )x
	        where a.accomchk = 0
	            and a.accom_num = x.accom_num
	            <if test="keyword != null and keyword != ''">
	            and a.accom_name like '%'||#{keyword}||'%' or a.accom_city like '%'||#{keyword}||'%'
	            </if>
		)
	</select>
	<select id="roomList" parameterType="hashmap" resultType="com.jhta.planit.room.vo.RoomVo">
		<include refid="rsvnRoomSearch"/>
		and ro.accom_num = #{accom_num}
	</select>
	<select id="roomCheck" parameterType="hashmap" resultType="com.jhta.planit.room.vo.RoomVo">
		select r.*
		from room r, ( select NVL(z.room_num, -1) room_num from
		                (
		                select rs.room_num room_num
		                from rsvn rs, rsvnPay rp
		                where rs.rsvn_num = rp.rsvn_num
		                    and rp.rsvnPay_stat = 0
		                    and rs.rsvn_checkin between to_date(#{checkin}, 'yyyy-mm-dd') and (to_date(#{checkout}, 'yyyy-mm-dd') - 1)
		                    or rs.rsvn_checkout - 1 between to_date(#{checkin}, 'yyyy-mm-dd') and (to_date(#{checkout}, 'yyyy-mm-dd') - 1)
		                )z right outer join dual on 1 = 1
		            )aa
		where r.roomChk = 0
		    and r.room_capa >= #{cnt}
		    and r.room_num not in aa.room_num
		    and r.room_num = #{room_num}
	</select>
</mapper>
