<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jhta.planit.review.mybatis.ReviewMapper">
 
 	<!-- 리뷰글작성 -->
  	<insert id="insert" parameterType="com.jhta.planit.review.vo.ReviewVo">
  		insert into Review values(rew_Seq.nextval,#{mem_id},#{review_country},#{review_city},#{review_title},#{review_content},sysdate,0,0,0)
  	</insert>
  	<select id="getReviewNum" resultType="int" >
  		select  max(review_num) from Review
  	</select>
  	<!--   조인 
  	<select id="join" parameterType="com.jhta.planit.review.vo.ReviewJoinVo">
  		select * from ReviewJoin where=review_num and reviewImage_num 
  	</select> -->
  	
  	<!-- 전체 글의 갯수 -->
  	<sql id="search">
  		<if test="field!=null and field!=''">
  			where ${field} like '%'||#{keyword}||'%'
  		</if>
  	</sql>
  	<!-- 페이지에 해당하는 글목록 -->
  	<select id="count" resultType="int" parameterType="hashmap">
  		select NVL(count(*),0) cnt from review
  		<include refid="search"/>	
  	</select>
  	
  	<!-- 글목록 -->
  	<select id="list" parameterType="hashmap" resultType="com.jhta.planit.review.vo.ReviewVo">
  		select *from(
  			select aa.*,rownum rnum from(
  				select *from review
  				<include refid="search"/>
  				order by review_num desc
  			)aa
  		)
  			<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
  	</select>
  	 
  	<!-- 다음글 -->
  	<select id="next" parameterType="int" resultType="com.jhta.planit.review.vo.ReviewVo">
  	select * from
  	(
  		select * from review
  		<![CDATA[where review_num<#{review_num}]]>
  		order by review_num desc
  	)
  		where rownum=1
  	</select>
  	<!-- 이전글 -->
  	<select id="prev" parameterType="int" resultType="com.jhta.planit.review.vo.ReviewVo">
  	select * from
  	(
  		select * from review
  		<![CDATA[where review_num>#{review_num}]]>
  		order by review_num asc
  	)
  		where rownum=1
  	</select>
  	
  	<select id="detail" parameterType="int" resultType="com.jhta.planit.review.vo.ReviewVo">
  		select * from review where review_num=#{review_num}
  	</select>
  	<update id="addHit" parameterType="int">
  		update review set review_hit=review_hit+1 where review_num=#{review_num}
  	</update>
  	
  	<!-- 좋아요기능 -->
  	<select id="review_likeNum" parameterType="int" resultType="int">
  		select NVL(count(*),0) from reviewLike where review_num=#{review_num} and review_like=1
  	</select>
	
		<insert id="insertlike" parameterType="com.jhta.planit.review.vo.ReviewLikeVo">
  		insert into reviewLike values(rewlik_SEQ.nextval,#{mem_id},#{review_num},#{review_like})
  	</insert>
	
	<update id="review_likeNumd" parameterType="int">
		update reviewLike set review_like=#{review_like} where review_num=#{review_num}
	</update>
	 
	<select id="likeList" parameterType="hashmap" resultType="com.jhta.planit.review.vo.ReviewLikeVo">
	select * from ReviewLike where mem_id=#{mem_id} and review_num=#{review_num}
	</select>
	
	<!-- 삭제 -->
	<delete id="delete" parameterType="int">
		delete from review where review_num=#{review_num}
	</delete>
  </mapper>