<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.planit.plan.mybatis.PlanMapper">
	<insert id="insert" parameterType="com.jhta.planit.plan.vo.PlanVo">
		insert into plan values(#{plan_num}, #{mem_id}, #{plan_title}, #{plan_startDate}, #{plan_stays}, #{plan_img}, 0)
	</insert>
	<select id="count" resultType="int">
		select NVL(count(*), 0) from plan
	</select>
	<select id="list" resultType="com.jhta.planit.plan.vo.PlanVo">
		select * from plan where plan_public = 0 order by plan_num desc
	</select>
	<select id="detail" parameterType="int" resultType="com.jhta.planit.plan.vo.PlanVo">
		select * from plan where plan_num = #{plan_num}
	</select>
	<update id="updateStartDate" parameterType="hashmap">
		update plan set plan_startDate = #{startDate} where plan_num = #{num}	
	</update>
	<update id="updateInfo" parameterType="hashmap">
		update plan set plan_title = #{title}, plan_public = #{plan_public} where plan_num = #{num}
	</update>
</mapper>
